<nav
  ...attributes
  class="mobile-pane__nav"
  {{did-insert (fn (mut this.element))}}
  {{did-update this.updateStyle @relativeOffset @activeIndex this.items}}
>
  <ul class="nav__scroller">
    {{!-- TODO: make it yieldable if there is a block --}}
    {{#each @navItems as |navItem|}}
      <MobilePane::Nav::Item
        @navItem={{navItem}}
        @activePane={{@activePane}}
        @onClick={{@onItemClick}}
        @registerItem={{this.registerItem}}
        @unregisterItem={{this.unregisterItem}}
      />
    {{/each}}
  </ul>
  <span class="nav__indicator" {{did-insert this.setupIndicator}}></span>
</nav>