{{#mobile-pane/scroller
  activeIndex=activeIndex
  lazyRendering=lazyRendering
  keepRendered=keepRendered
  transitionDuration=transitionDuration
  triggerVelocity=triggerVelocity

  activePane=activePane
  paneContainerElement=paneContainerElement
  paneCount=paneCount
  currentOffset=currentOffset
  visiblePanes=visiblePanes

  onDragStart=(action 'onDragStart')
  onDragMove=(action 'onDragMove')
  onDragEnd=(action 'onDragEnd')
as |mps|}}
  {{#if previousModel}}
    {{#mps.pane}}
      <div class="mobile-pane__child mobile-pane__child--previous" style="{{scrollOffset}}">
        {{~yield previousModel ~}}
      </div>
    {{/mps.pane}}
  {{/if}}

  {{#mps.pane}}
    <div class="mobile-pane__child mobile-pane__child--current">
      {{~yield currentModel ~}}
    </div>
  {{/mps.pane}}

  {{#if nextModel}}
    {{#mps.pane}}
      <div class="mobile-pane__child  mobile-pane__child--next" style="{{scrollOffset}}">
        {{~yield nextModel ~}}
      </div>
    {{/mps.pane}}
  {{/if}}
{{/mobile-pane/scroller}}