<ul class="nav__scroller">
  {{!-- TODO: make it yieldable if there is a block --}}
  {{#each navItems as |navItem|}}
    <MobilePane::Nav::Item
        @navItem={{navItem}}
        @activePane={{activePane}}
        @onClick={{onItemClick}}
        @registerItem={{action "registerItem"}}
        @unregisterItem={{action "unregisterItem"}}
    />
  {{/each}}
</ul>
<span class="nav__indicator" id="{{this.elementId}}-nav__indicator"></span>