<li
  ...attributes
  class="nav__item"
  {{did-insert (set this "element")}}
  {{did-insert (fn @registerItem this)}}
>
    <a href="#{{@navItem.elementId}}"
       role="tab"
       class="item__link {{if this.isActive "active"}}"
       {{on "click" this.clickItem}}
    >
      {{#if (has-block)}}
        {{yield @navItem}}
      {{else}}
        {{@navItem.title}}
      {{/if}}
  </a>
</li>
