<div class="mobile-pane__container" style="{{containerStyle}}">
  {{#if previousModel}}
    <div class="mobile-pane__child child--previous" style="{{scrollOffset}}">
      {{~yield previousModel ~}}
    </div>
  {{/if}}

  <div class="mobile-pane__child child--current">
    {{~yield currentModel ~}}
  </div>

  {{#if nextModel}}
    <div class="mobile-pane__child child--next" style="{{scrollOffset}}">
      {{~yield nextModel ~}}
    </div>
  {{/if}}
</div>