<h2 id="title">Welcome to Ember</h2>

{{outlet}}

<MobilePane @activeIndex={{this.activeIndex}} @onChange={{fn (mut this.activeIndex)}} @strictLazyRendering={{true}} as |mp|>
  <mp.scroller as |mps|>
    <mps.pane>
      Pane 1
      {{log "rendering 1"}}
    </mps.pane>
    <mps.pane>
      Pane 2
      {{log "rendering 2"}}
    </mps.pane>
    <mps.pane>
      Pane 3
      {{log "rendering 3"}}
    </mps.pane>
  </mp.scroller>
</MobilePane>