<h2 id="title">Welcome to Ember</h2>

{{outlet}}

<MobilePane @activeIndex={{this.activeIndex}} @onChange={{set this "activeIndex"}} @strictLazyRendering={{true}} as |mp|>
  <mp.Nav/>
  <mp.Scroller as |mps|>
    <mps.Pane @title="Pane 1">
      Pane 1
    </mps.Pane>
    <mps.Pane @title="Pane 2">
      Pane 2
    </mps.Pane>
    <mps.Pane @title="Pane 3">
      Pane 3
    </mps.Pane>
    <mps.Pane @title="Pane 4">
      Pane 4
    </mps.Pane>
    <mps.Pane @title="Pane 5">
      Pane 5
    </mps.Pane>
    <mps.Pane @title="Pane 6">
      Pane 6
    </mps.Pane>
  </mp.Scroller>
  <mp.SimpleIndicator/>
</MobilePane>

<MobilePaneInfinite
  @previousModel="1"
  @currentModel="2"
  @nextModel="3"
as |mpi|>
  Pane {{mpi.model}}
</MobilePaneInfinite>
